doctype html
html
  head 
    title Digital Monitor
  body
    form(method='POST' action='/login')
      input(name='username' type='text' id='username')
      input(name='password' type='password' id='password')
      div
      input(type='submit' value='Login')
