extends layout.pug
block content
  body
    p Hi #{user.firstName}!
    p #[b #{client.name}] is requesting #[b full access] to your account
    p Do you approve? 
    form(method='POST' action='/api/oauth2/authorize')
      input(name='transaction_id' type='hidden' value=transactionId)
      div
      input.btn.btn-primary(type='submit' value='Allow' id='allow')
      input.btn.btn-danger(type='submit' value='Deny' name='cancel' id='deny')
